.acercaDeMi {
    width: 100vw;
    background-color: #00274f;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    padding: 20px 20px;
    overflow: hidden;
    justify-content: center;
    color: aliceblue;
}


.img_AcercaDemi {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
    grid-column: 1/5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}


.acercaDeMi_info {
    grid-column: 5/10;
}

.acercaDeMi h1 {
    color: #00ffee;
    margin: 0;
}


.acercaDeMi p {
    margin: 15px 0;
    font-size: 17px;
    line-height: 1.3;
    color: #f0f0f0;
}

.SobreLineaacercaDeMi_info {
    background-color: red;
    width: 130px;
    height: 4px;
    margin-top: -4px;
}

@media screen and (max-width:900px) {

    .acercaDeMi {
        display: flex;
        flex-direction: column-reverse;
    }

    .img_AcercaDemi {
        margin: 10px;
        width: min(100%, 450px);
        height: auto;
        aspect-ratio: 1/1;
    }

    .acercaDeMi h1 {
        text-align: center;
    }

    .SobreLineaacercaDeMi_info {
        margin: auto;

    }

    .acercaDeMi p {
        text-align: center;
    }

}