.proyectos {
    width: 100vw;
    overflow: hidden;
}

.proyectos_titulo {
    padding: 2rem;

}

.proyectos_titulo h1 {
    color: #00ffee;
    margin: 0;
}

.contenedor_tarjeta {
    position: relative;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.tarjeta {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}


.tarjeta_img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    cursor: pointer;
}



.tarjeta_img:not(:last-child) {
    margin-right: 5px;
}



.deslizador {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow-x: auto;
    /* Habilita el scroll horizontal */
    scroll-behavior: smooth;
    /* Suaviza el desplazamiento */
}

/* Estilos personalizados para la barra de desplazamiento */
/* ::-webkit-scrollbar: Estiliza el contenedor completo de la barra de desplazamiento.
 */
.deslizador::-webkit-scrollbar {
    width: 15px;
    /* Ancho de la barra de desplazamiento */
    height: 8px;
    /* Alto de la barra de desplazamiento horizontal */
}

/* ::-webkit-scrollbar-thumb: Personaliza el pulgar (la parte que se mueve).
 */
.deslizador::-webkit-scrollbar-thumb {
    background-color: #00e1ff;
    /* Color oscuro para la barra */
    border-radius: 10px;
    /* Redondeo de los bordes */

}

/* ::-webkit-scrollbar-track: Estiliza la pista donde se mueve el pulgar.*/
.deslizador::-webkit-scrollbar-track {
    background: #000;
    /* Fondo transparente para el track */
}




.tarjeta_info {
    padding: 1rem;
}

.tarjeta_info h3 {
    font-size: 30px;
    margin-bottom: 8px;
    color: #000;
}

.tarjeta_info p {
    font-size: 1rem;
    color: #333;
    line-height: 1.3;
}

.tarjeta_Lenguajes {
    position: relative;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 8px 0;
}

.tarjeta_Lenguajes img {
    width: 35px;
}


.btn_tarjeta {
    background-color: #00ffee;
    display: inline-flex;
    align-items: center;
    padding: 10px 16px;
    border: none;
    border-radius: 16px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 8px;
}

.btn_tarjeta img {
    width: 1rem;
    height: 1rem;
    margin-left: 8px;
}

.btn_conermas_Proyecto {
    background-color: red;
    padding: 16px 20px;
    display: flex;
    margin: 20px auto;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

/* Estilos del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.modal_img {
    max-width: 100%;
    max-height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

 