.contenedor_main {
    width: 100vw;
    min-height: 95vh;

}

.main {
    width: 90vw;
    min-height: 80vh;
    margin: 50px auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;

}

.img_main {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
    margin: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

 

.text_animated {
    font-size: clamp(1.5vw, 1.2em, 1.5rem);
    font-weight: 600;
    min-width: 280px;
    color: white;


}

.text_animated {
    position: relative;
}

.text_animated::before {
    content: "";
    color: #00ffee;
    animation: words 20s infinite;
}

.text_animated::after {
    overflow: hidden;
    content: "";
    background-color: #06142E;
    position: absolute;
    width: calc(100%+8px);
    height: 28px;
    border-left: 3px solid #00ffee;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14)infinite;
}

.main_info_descripcion {
    font-size: 17px;
    margin: 0.8rem 0;
    color: #f0f0f0;
    line-height: 1.3;
}

.main_info_redes {
    display: flex;
    gap: 2rem;
    margin: 1.5rem 0;
}

.main_info_redes img {
    width: 25px;
    height: 25px;
}

.btn {
    font-size: 14px;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 12px 20px;
    /* Más espacio horizontal para texto largo */
    margin-right: 10px;
    background-color: #00bfff;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn:hover {
    background-color: #96cded;
}

/* --------------------Animaciones------------------------------------------- */
@keyframes cursor {
    to {
        border-left: 2px solid #000000;
    }
}

@keyframes words {
    0% {
        content: "Soy Junior Full Stack";
    }

    10%,
    20% {
        content: "Desarrollador de web y móvil";
    }

    21%,
    40% {
        content: "Realizo análisis de datos";
    }

    41%,
    60% {
        content: "Creo soluciones en la nube";
    }

    61%,
    80% {
        content: "Creo soluciones escalables";
    }

    81%,
    100% {
        content: "Gestiono redes y conectividad";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

@media screen and (max-width:900px) {

    .main {
        margin: auto;

    }

    .main,
    .acercaDeMi {
        display: flex;
        flex-direction: column-reverse;
    }

    .img_main,
    .img_AcercaDemi {
        margin: 10px;
        width: min(100%, 450px);
        height: auto;
        aspect-ratio: 1/1;
    }

    .main {
        text-align: center;
    }

    .text_animated {
        text-align: center;
    }

    .main_info_redes {
        justify-content: space-evenly;
    }

    .main_info_descripcion,
    .btn {
        display: none;
    }
}