.contactame {
    width: 100vw;
    color: white;
    overflow: hidden;
 }

.contactem_titulo {
    padding: -4rem;
    margin: 35px 35px;


}

.contactem_titulo h1 {
    color: #00ffee;
    margin: 0;
    padding: 0;
}


.container_contacto {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.form input {
    padding: 10px 20px;
    margin-top: 1.5rem;
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}


.form textarea {
    resize: none;
    height: 150px;
    background: none;
    margin-top: 1em;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin: 1em;
}

.btn_form {
    margin: auto;
    width: auto;
    padding: 15px 25px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_form:hover {
    background-color: #25afff;
}

.SobreLineacontactame {
    margin-left: 3px;
    margin-top: -7px;
    background-color: red;
    width: 80px;
    height: 4px;
}