.logro_contenedor {
    width: 100vw;
    overflow: hidden;
}

.logro_contenedor {
    padding: 2rem;

}

.logro_contenedor h1 {
    color: #00ffee;
    margin: 0;
}



.logros_contenedor {
    height: auto;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logro_tarjeta {
    position: relative;
    max-width: 400px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
}

.logro_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(20%);
    transition: transform 0.4s ease, filter 0.4s ease;
}

.logro_contenidos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    padding: 20px;
}

.logro_tarjeta:hover .logro_contenidos {
    opacity: 1;
}

.logro_tarjeta:hover .logro_img {
    filter: brightness(60%);
    transform: scale(1.1);
}

.logro_contenido {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.logro_texto {
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn_logro {
    display: inline-block;
    width: auto;
    padding: 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn_logro:hover {
    background-color: darkred;
}

@media (max-width: 800px) {
    .logro_tarjeta {
        width: min(100%, 450px);
        height: auto;
        aspect-ratio: 1/1;
    }

    .logro_texto {
        font-size: 0.9rem;
    }

    .btn_logro {
        font-size: 0.9rem;
        padding: 8px 0;
    }
}